{% extends 'base.html.twig' %}

{% block body %}

        {% if entity is defined %}
            <div class="alert alert-dismissable alert-success">
                <strong>
                    <i class="fa fa-check"></i>
                    {{ entity.nombre|title }} {{ entity.paterno|title }} {{ entity.materno|title }}</strong> hemos recibido tu registro.<br>
                Te enviaremos un correo a la dirección que nos proporcionaste: <strong><i>{{ entity.mail }}</i></strong>
                <br>
                <p class="small">Si no recibes el correo de confirmación puedes verificar en tu bandeja de correos no deseados, si no lo has recibido puedes escribir a <strong>webmaster<i class="fa fa-at"></i>matmor.unam.mx</i></strong> para confirmar tu registro</p>
            </div>
        {% endif %}

{% if registro.id is defined %}

    {#<a class="btn btn-success btn-lg btn-block" href="{{ path('registro_edit', { 'id': registro.id, 'mail': registro.mail }) }}">{{ registro.nombre |title}} {{ registro.paterno| title }} <br> modifica tu registro</a>#}
    {% render controller("RegistroBundle:Registro:edit", {'id': registro.id, 'mail': registro.mail}) %}
{% else  %}
    <div class="jumbotron">
        <h1 class="display-4">{{ evento }}</h1>
        <p class="lead">Podrás integrarte a las actividades que serán organizadas en la edición de la {{ evento }}.</p>
        <hr class="my-4">
        <p>Es necesario que ingreses el correo con el que realizaste tu registro.</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Busca tu registro
        </button>
    </div>

    <div class="row">
        <div class="text-center">
            {#                    <a href="#" onclick="$('#registronewModal').modal({'backdrop': 'static'});"#}
            {#                    class="btn">Launch demo modal</a>#}
            {#                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registronewModal" >#}
            {#                    <i class="fa fa-plus"></i> Nuevo registro#}
            {#                    </button>#}
            {#            <a class="btn btn-danger btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm" ><i class="fa fa-edit"></i> Actividades</a>#}
            {#            <br><br>#}
            {#                    <div class="alert alert-info  col-md-6 col-lg-offset-3">#}
            {#                    <h4><i class="fa fa-calendar"></i> <strong> Próximamente </strong> te podrás registrar en las actividades.</h4>#}
            {#                    <h4><i class="fa fa-check"></i> <strong> Ya puedes registrarte en las actividades.</h4>#}
            {#                    <h4><i class="fa fa-check"></i> <strong> Para integrarte a las actividades es necesario que previamente te hayas registrado.</h4>#}
            {#                    </div>#}
        </div>
    </div>
    {#            <h3 class="text-center text-success"><i class="fa fa-check"></i> El proceso de registro e integración a las actividades ha finalizado</h3> <br>#}
    {#            <h2 class="text-center text-info">¡Gracias por tu apoyo!</h2>#}
    {#            <h2 class="text-center text-info">{{ evento }}</h2>#}

    {#al correo ghunedy<i class="fa fa-at"></i>matmor.unam.mx</h2>#}

    {#            <!-- Modal -->#}
    {#            <div class="modal fade" id="registronewModal" tabindex="-1" role="dialog" aria-labelledby="registronewModalLabel">#}
    {#                <div class="modal-dialog modal-lg" role="document">#}
    {#                    <div class="modal-content">#}
    {#                        <div class="modal-header">#}
    {#                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
    {#                            <h4 class="modal-title" id="registronewModalLabel"> <i class="fa fa-plus"></i>  Nuevo registro</h4>#}
    {#                        </div>#}
    {#                        <div class="modal-body">#}
    {#                            {% render(controller('RegistroBundle:Registro:new')) %}#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}

{% endif %}

    {% if form is defined %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Busca tu registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}

                <div class="form-group">
                    <div>{{ form_label(form.email) }}</div>
                    <div>
                        {{ form_widget(form.email, {'attr': {'class': 'form-control input-sm'} } ) }}
                    </div>
                    <div>{{ form_errors(form.email) }}</div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Buscar</button>

                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-search"></i> Busca tu registro</h4>
                </div>
                {{ form_start(form) }}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">

                                    <div>{{ form_label(form.email) }}</div>
                                    <div>
                                        {{ form_widget(form.email, {'attr': {'class': 'form-control input-sm'} } ) }}
                                    </div>
                                    <div>{{ form_errors(form.email) }}</div>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-12 col-lg-offset-5">
                                            <input type="submit" value="Buscar" class="btn btn-success"  />
                                        </div>
                                    </div>
                                </div>
                            </div></div></div></div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
    {% endif %}

    {% endblock %}

    {% block footer %}
    {% endblock %}
